.movies-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 14px;
  box-sizing: border-box;
}

.movies-card__image {
  width: 100%;
  height: 201px;
  border-radius: 7px;
  object-fit: contain;
}

.movies-card__content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 14px;
}

.movies-card__title {
  max-height: 32px;
  margin: 0;
  overflow: hidden;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}

.movies-card__duration {
  max-width: 52px;
  width: 100%;
  border-radius: 3px;
  padding: 4px 4px;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  background: #2F2F2F;
}

.movies-card__btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 72px;
  height: 21px;
  border: none;
  padding: 0;
  outline: none;
  background: url(../../images/btn_tosave.svg) center no-repeat;
  cursor: pointer;
}

.movies-card__btn_action_saved {
  width: 21px;
  height: 21px;
  background: url(../../images/btn_saved.svg) center no-repeat;
}

.movies-card__btn_action_remove {
  width: 21px;
  height: 21px;
  background: url(../../images/btn_remove.svg) center no-repeat;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .movies-card {
    gap: 25px;
  }

  .movies-card__content-wrapper {
    padding: 0;
    gap: 37px;
  }

  .movies-card__image {
    height: 190px;
  }
}

@media (max-width: 767px) {
  .movies-card {
    gap: 16px;
  }

  .movies-card__content-wrapper {
    padding: 0;
    gap: 8px;
  }

  .movies-card__image {
    height: 168px;
  }

  .movies-card__btn {
    top: 10px;
    right: 10px;
    width: 72px;
  }

  .movies-card__title {
    max-height: 30px;
    font-size: 12px;
  }
}
