.menu-start {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-start_hidden {
  visibility: hidden;
}

.menu-start__link {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
}

.menu-start__link_big {
  display: block;
  border-radius: 3px;
  padding: 8px 20px;
  background: #3DDC84;
}

@media (max-width: 768px) {
  .menu-start {
    gap: 14px;
  }

  .menu-start__link {
    font-size: 10px;
  }

  .menu-start__link_big {
    padding: 5px 12px;
  }
}
