.register {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;
  padding: 70px 0;
}

.register__wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
  width: 396px;
}

.register__logo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.register__title {
  width: 100%;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  text-align: left;
}

.register__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 69px;
  width: 100%;
}

.register__inputs-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.register__input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 10px;
}

.register__input-label {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 10px;
  line-height: normal;
}

.register__input {
  box-sizing: border-box;
  height: 46px;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 15px 15px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  background: #2F2F2F;
}

.register__input::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
}

.register__input:focus {
  outline: none;
  border: 1px #8B8B8B solid;
}

.register__input_place_error, .register__input_place_error:focus {
  border: 1px #EE3465 solid;
  color: #EE3465;
}

.register__input-error {
  margin: 0;
  overflow: hidden;
  color: #EE3465;
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
  text-overflow: ellipsis;
}

.register__buttons-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.register__error-message {
  position: absolute;
  top: -34px;
  left: 50%;
  display: block;
  width: 100%;
  height: 13px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #FF004C;
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
  text-align: center;
  transform: translateX(-50%);
}

.register__paragraph {
  margin: 0;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-align: center;
}

.register__link {
  color: #4285F4;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .register {
    padding: 232px 0;
  }
}

@media (max-width: 767px) {
  .register {
    padding: 56px 30px 30px;
  }

  .register__logo {
    justify-content: center;
  }

  .register__wrapper {
    gap: 50px;
    width: 260px;
  }

  .register__form {
    gap: 153px;
    margin-top: 30px;
  }

  .register__title {
    text-align: center;
  }

  .register__paragraph {
    font-size: 12px;
  }

  .register__link {
    font-size: 12px;
  }
}

